@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet" />
<center>
    <span style="font-family:'Indie Flower';font-size:100px">DRIVE</span>
    <form method="post" action="/Users/login">
        <br />
        <table>
            <tr><td>
   <i class="fas fa-user"></i> Login:</td><td>
    <input type="text" name="login"  />
</td></tr>
            <tr> <td>
   <i class="fas fa-unlock-alt"></i> Password:</td><td>
    <input type="text" name="password" />
</td> </tr>
            <tr><td>
    <input type="submit" value="Login" />
</td></tr>
        </table>
    </form>

    <span style="color:red;">@ViewBag.MSG</span>
</center>